/* ------------------------------------------------- */
/* --------------------Clients-------------------- */
/* ------------------------------------------------- */

.clients {
    @extend %section;
}

.clients__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    --items:2;
    margin: -15px;

    @media screen and(min-width: 768px) {
        display: flex;
        --items:3;
    }

    @media screen and(min-width: 1200) {
        display: flex;
        --items:6;
    }
}

.clients__link{
    // outline: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    color:var(--color-icon);
    transition: color, var(--transition-time-cubic);
    transition: border-color, var(--transition-time-cubic);
    margin: 15px;

    @media screen and(min-width: 768px) {
        width: 226px;
        height: 92px;
    }

    @media screen and(min-width: 1200px) {
        width: 170px;
        height: 92px;
    }


&:hover,
&:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}
}

.clients__icon{
    fill: currentColor;
}
