/* ------------------------------------------------- */
/* --------------------Clients-------------------- */
/* ------------------------------------------------- */

.clients {
    @extend %section
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

    @media screen  and (min-width: 768px) {
        
    }


    @media screen  and (min-width: 1200px) {
        
    }
    
}


// .clients__item{
    
 
// }

.clients__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-icon);
    border-radius: 4px;
    color:var(--color-icon);
    transition: color, var(--transition-time-cubic);
    transition: border-color, var(--transition-time-cubic);

&:hover,
&:focus{
    color: var(--accent-color);
    border-color: var(--accent-color);
}
}

.clients__icon {
    fill: currentColor;
}