/* ------------------------------------------------- */
/* --------------------Footer-------------------- */
/* ------------------------------------------------- */

.footer{
    background-color: var(--dark-background-color);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // outline: 1px solid red;
    
   
    

    @media screen and(min-width: 480px) {
        
    }


    @media screen and(min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    @media screen and(min-width: 1200px) {
        flex-wrap: nowrap;
    }
}


.footer__address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    // outline: 1px solid red;


    @media screen and(min-width: 768px) {
    margin-right: 165px;
    }

    @media screen and(min-width: 1200px) {
        margin-right: 70px; 
    }
}

// .footer__address-list{
     
// }

.footer__contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // outline: 1px solid red;
    margin-bottom: 60px;


    @media screen and(min-width: 768px) {
            margin-bottom: 102px;
    } 

    @media screen and(min-width: 1200px) {
        margin-right: 93px;
    }
}

.footer__subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    
    
    // outline: 1px solid red;
}


.footer__subscribe-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
   

}

.footer__link-location{
    color: var(--white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
    font-style: normal;
}

.footer__contacts-link{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
    font-style: normal;
    transition: color, var(--transition-time-cubic);

    
}

 .footer__item:nth-child(n+2){
    margin-top: 9px;
}

.footer__title{
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.footer__contacts-list{
    display: flex;
}

.footer__contacts-item:not(:last-child){
    margin-right: 10px;
}

.footer__join-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color var(--transition-time-cubic);
    
&:hover,
&:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    }
}

.footer__contacts-icon{
    fill: currentColor;
}



.btn__subscribe{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.footer__subscribe-form input{
    color: var(--white-color);
    padding-left: 16px ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    background-color: #2F303A;
    height: 50px;
    cursor: pointer;
    transition: border var(--transition-time-cubic);

    width: 450px;
   

    @media screen  and (min-width: 480px) {
        max-width: 450px;
           }

    @media screen  and (min-width: 768px) {
        max-width: 450px;
        }

    @media screen  and (min-width: 1200px) {
            max-width: 358px;
         }   

}

.footer__subscribe-icon{
    fill: var(--white-color);
    margin-left: 10px;
}


.footer__mail-input:focus {
    border: 1px solid var(--accent-color);
 }




