/* ------------------------------------------------- */
/* -------------------Section-Hero------------------- */
/* ------------------------------------------------- */

.hero{
    background-color: var(--dark-background-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 200px;

    @media screen and(min-width: 1200px) {
        padding-top: 200px;

    }
    
}

.hero__title{
    color: var(--white-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

 
    @media screen and(min-width: 1200px) {
        font-size: 44px;
        line-height: 1.4;

    }
}

.bg-hero {
    max-width: 480px;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) ),
     url('../images/hero/hero_mb.jpg');

    //  для ретіна екранів мобільна версія
     @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) ),
     url('../images/hero/hero_mb@2x.jpg');
  }


    @media screen and(min-width: 768px) {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
        url('../images/hero/hero_tb.jpg');
        max-width: 768px;
        max-height: 400px;

            //  для ретіна екранів планшетна версія
     @media (min-device-pixel-ratio: 2),
     (-webkit-min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
       background-image: linear-gradient(to right,
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4) ),
        url('../images/hero/hero_tb@2x.jpg');
     }
   
    }
 
    @media screen and(min-width: 1200px) {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
        url('../images/hero/hero_desktop.jpg');
        max-width: 1600px;
        max-height: 600px;

            //  для ретіна екранів десктопна версія
     @media (min-device-pixel-ratio: 2),
     (-webkit-min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
       background-image: linear-gradient(to right,
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4) ),
        url('../images/hero/hero_desktop@2x.jpg');
     }
   
    }
}

   
.hero__button{
    background-color: var(--accent-color);
    transition: background-color, var(--transition-time-cubic); 

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}




