/* ------------------------------------------------- */
/* ----------------Section-Our-Team---------------- */
/* ------------------------------------------------- */

.team{
    @extend %section;
    
    background-color: var(--secondary-bg-color);
    
}

.team__list{
    --items:4;
}

.team__title{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

 .team__text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
 }   

.team__card{
    padding-top: 30px;
    padding-bottom: 30px;
    
}
 
.team__item{
    width: 270px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

