/* ------------------------------------------------- */
/* ----------------Section-Our-Team---------------- */
/* ------------------------------------------------- */

.team{
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
    
    @media screen and(min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
        
        
    }

    @media screen and(min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        
    }
 
    
}

.team__list{
    
    --items:1;
    display: flex;
    justify-content: center;

    @media screen and(min-width: 768px) {
        --items:2;
    }

    @media screen and(min-width: 1200px) {
        --items:4;
    }
    
}


.team__item{
    outline: 1px solid red;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 450px;
    height: 622px;
 
    @media screen and(min-width: 768px) {
        width: 354px;
        height: 536px;
    }
 
    @media screen and(min-width: 1200px) {
        width: 270px;
        height: 428px;
    }
}

.team__title{
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

 .team__text{
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
 }   

.team__card{
    padding-top: 30px;
    padding-bottom: 30px;
    }
 


