/* ------------------------------------------------- */
/* ----------------Section-Work---------------- */
/* ------------------------------------------------- */

.work{
    @extend %section
}


.work__list{
    display: flex;
    --items: 3;
}

.work__image{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__box{
    position: relative;
}

.work__text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);;
}




