/* social media */
.social{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    
}

.social__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--color-icon);
    background-color: var(--white-color);
    border-radius: 50%;
    transition: background-color, var(--transition-time-cubic);
    transition: color, var(--transition-time-cubic);

&:hover,
&:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}
 }

.social__icon{
    fill: currentColor;
}

.social__item:not(:last-child){
    margin-right: 10px;
}


