.form{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    
@media screen and(min-width: 480px) {
    max-width: 528px;
    padding: 40px;
        }

    
@media screen and(min-width: 768px) {
      max-width: 450px;
        }

    
@media screen and(min-width: 1200px) {
        max-width: 528px;
    }
    
}


.form__heading{
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;   


@media screen and(min-width: 1200px) {
    line-height: 1.15;
    }
}

.form__wrapper{
    display: flex;
    flex-direction: column;
}

.form__icon{
    position: absolute;
    left: 15px;
    top: 29px;
    transition: background-color, var(--transition-time-cubic);
}  


.form-title{

    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;


@media screen and(min-width: 1200px) {
    line-height: 1.15;
}

}

